// ===============
// colors palette
// ===============
:root {
	// Site colors :
	// =================================================================
	--primary: #fff;
	--black: #1F1F1F;
	--white40:  rgba(255, 255, 255, 0.4);
	--gray: #838383;
	--accent: #DAF73A;
	//chart =================================================================
	--chart-color-primary: #E8C1A0;
	--chart-color-secondary: #F47560;
	--chart-color-third: #F1E15B;
	// =================================================================
	--bg-primary: #1f1f1f;
	--bg-secondary: #262626;
	--bg-third: #3D3D3D;
	--bg-blue: #1955A0;
	//====================================================================================================
	--box-shadow: 4px 4px 30px 0 rgba(218, 247, 58, 0.3);
}
