.options {
  display: flex;
  flex-direction: column;
  @include adaptiveValue("gap", 40, 20);

  .calc-app__item:first-child & {
    flex-direction: row;
    gap: toRem(60);
  }

  .calc-app__options & {
    gap: toRem(10);
    &:not(:last-child) {
      margin-bottom: toRem(16);
    }
  }

  // .options__item
  &__item {
    position: relative;
    cursor: pointer;

    &:not(:last-child) {

    }
  }

  // .options__input
  &__input {
    width: 0;
    height: 0;
    opacity: 0;
    position: absolute;

    &:focus-visible + .options__label:before {
    }

    &:checked + .options__label:before {
    }

    &:checked + .options__label:after {
      transform: scale(1);
    }
  }

  // .options__label
  &__label {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    gap: 10px;
    position: relative;

    &:before {
      content: "";
      align-self: flex-start;
      width: toRem(20);
      height: toRem(20);
      flex: 0 0 toRem(20);
      border-radius: 50%;
      border: 1px solid var(--accent);
    }

    &:after {
      content: "";
      transition: all 0.3s ease 0s;
      transform: scale(0);
      width: toRem(12);
      height: toRem(12);
      border-radius: 50%;
      background-color: var(--accent);
      position: absolute;
      left: toRem(4);
      top: toRem(4);
    }
  }

  // .options__text
  &__text {
  }
}
