//====================================================================================================
.footer {
  background-color: #000;
  @include adaptiveValue("padding-top", 70, 40);
  @include adaptiveValue("padding-bottom", 70, 40);
  // .footer__container
  &__container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    @include adaptiveValue("gap", 40, 20);
    @media (max-width: $mobile) {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  // .footer__logo
  &__logo {
    flex: 0 0 toRem(130);
    img{
      width: 100%;
    }
  }

  // .footer__menu
  &__menu {
    @media (max-width: $mobile) {
      flex: 1 1 100%;
    }

    ul {
      display: flex;
      gap: toRem(40);
      @media (max-width:$mobile){
        justify-content: center;
      }
    }

    a {
      color: var(--accent);
    }
  }

  // .footer__links
  &__links {
    @media (max-width: $mobile) {
      flex: 1 1 100%;
      text-align: center;
    }
    li + li {
      margin-top: toRem(16);
    }

    a {
      text-decoration: underline;
      font-size: toRem(12);
      color: var(--gray);
    }
  }
}

//====================================================================================================
